body {
	font-size: 14px;
}
/*
ol {
  counter-reset: section;
}
li {
  display: block;
}
li::before {
  counter-increment: section;
  content: counters(section, ".") ". ";
}
*/
h1,h2,h3 {
  text-transform: capitalize;
}
h2 {
	padding-top: 2.2rem;
}
h3 {
	padding-left: 2rem;
	padding-top: 2rem;
}
h4 {
	padding-left: 3rem;
	padding-top: 1.5rem;
}
h6 {
  text-transform: none !important;
  text-align: center;
  padding-top: 3rem;
}
p {
  font-size: 1.5rem;
}

.hljs {
  font-size: 1.5rem;
}
